body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: Arial, sans-serif;
}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#calculator {
    background-color: hsl(0, 0%, 10%);
    border: none;
    border-radius: 15px;
}

.buttons button {
    background-color: hsl(0, 0%, 30%);
    color: white;
    font: bold;
    font-size: 3.5rem;
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#display {
    font-size: 2.5rem;
    padding: 20px;
    width: 320px;
    border-radius: 15px;
    height: 40px;
    border: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 10px;
    gap: 20px;
}

.buttons button:hover {
    background-color: hsl(0, 0%, 40%);
}
.buttons button:active {
    background-color: hsl(0, 0%, 50%);
}

.buttons .operator {
    background-color: hsl(40, 50%, 40%);
}

#operator:hover {
    background-color: hsl(40, 50%, 50%);
}

#operator:active {
    background-color: hsl(40, 50%, 60%);
}