body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: Arial, sans-serif;
}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 197, 197);
}

#calculator {
    height: 350px;
    width: 250px;
    background-color: hsl(21, 80%, 80%);
}
